out
*~
*.bak
.classpath
.DS_Store
.env
.externalToolBuilders
.idea/
*.iml
*.jar
pom.xml.releaseBackup
.project
release.properties
.settings
*.swp
target/
*.tmp
*.zip
docker-compose.override.yml
build
.gradle
src/main/resources/application-test.yaml
