out
*~
*.bak
.classpath
*.deb
.DS_Store
.env
.externalToolBuilders
.idea/
*.iml
*.jar
node_modules
npm-debug.log
pom.xml.releaseBackup
.project
release.properties
.settings
*.swp
target/
*.tmp
*.zip
docker-compose.override.yml
build
.gradle
package-lock.json
