language: java
dist: xenial
sudo: required

addons:
  apt:
    packages:
      - openjdk-8-jdk

cache:
  directories:
    - $HOME/.m2/repository/
    - $HOME/.m2/wrapper/
    - node_modules

notifications:
  email:
    on_success: never

before_install:
  - export NODE_VERSION="7.4.0"

install:
  - nvm install $NODE_VERSION

before_script:
  - export MAVEN_OPTS="-Xmx256m"
  - nvm use $NODE_VERSION

script:
  - ./mvnw --batch-mode clean
  - ./mvnw --batch-mode -P security org.owasp:dependency-check-maven:check
  - ./mvnw --batch-mode package

before_deploy:
  - ./mvnw --batch-mode -P release clean package
  - ./mvnw --batch-mode -P release versions:revert

deploy:
  provider: packagecloud
  username: ${PACKAGECLOUD_USER}
  token: ${PACKAGECLOUD_TOKEN}
  repository: "account-tool"
  dist: "ubuntu/xenial"
  package_glob: "target/*.deb"
  skip_cleanup: true
  on:
    tags: true
