{% extends "pages/template/public.html" %}
{% import "pages/template/macros.html" %}

{% block content %}
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="s2act-card mdl-card s2act-card--error">
			<h2>Forbidden 403</h2>
			<p>
				<span>You spent to much time on doing nothing here and your token expired. Please try again..</span>
				<a href="/" class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised">
					<i class="material-icons">arrow_back</i>
				</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}
