{% macro inputText(label, fieldName, value, pattern=".*", errorMsg="", halfWidth=true, readonly=false) %}
<div class="s2act-textfield {{ halfWidth ? 's2act-textfield__halfWidth' : '' }} mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="{{ fieldName }}" id="{{ fieldName }}"
           value="{{ value }}" pattern="{{ pattern }}" {{ readonly ? 'readonly' : '' }}>
    <label class="mdl-textfield__label" for="{{ fieldName }}">{{ label }}</label>
    <span class="mdl-textfield__error">{{ errorMsg }}</span>
</div>
{% endmacro %}


{% macro inputSelect(label, fieldName, options, value, optionsAsMap=false) %}
<div class="s2act-selectfield mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
    <select id="{{ fieldName }}" name="{{ fieldName }}" class="mdl-selectfield__select">
        <option value=""></option>
        {% for option in options %}
        <option value="{{ optionsAsMap ? option.key : option }}" {{ isSelected(value, optionsAsMap ? option.key : option) }}>{{ optionsAsMap ? option.value : option }}</option>
        {% endfor %}
    </select>
    <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
    <label class="mdl-selectfield__label" for="{{ fieldName }}">{{ label }}</label>
</div>
{% endmacro %}

{% macro inputButton(label, fieldName, color="mdl-button--primary", disabled=false) %}
<input class="s2act-button--right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect {{ color }}"
       type="submit" name="{{ fieldName }}" value="{{ label }}" {{ disabled ? 'disabled' : '' }} />
{% endmacro %}
