Package: [[artifactId]]
Version: [[version]][[version.phase]]-[[git.commit.id.abbrev]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Distribution: development
Homepage: https://github.com/sinnerschrader/account-tool
Maintainer: S2 Account Tool <account-tool@sinnerschrader.com>
Uploaders: [[git.commit.user.name]] <[[git.commit.user.email]]>
Depends: openjdk-8-jre | openjdk-8-jdk
