{% extends "pages/template/authenticated.html" %}
{% import "pages/template/inputMacros.html" %}

{% block content %}
<form action="/user/create" method="post">
    <input type="hidden" name="{{request.getAttribute('_csrf').parameterName}}"
           value="{{request.getAttribute('_csrf').token}}"/>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <h2 class="s2act-sectionHeadline">Create new user</h2>
        </div>
        {% set formName = 'createUserForm' %}
        {% set noSpacing = true %}

        {% if hasErrors(formName) %}
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <ul class="s2act-messages {{noSpacing ? 's2act-messages--nospacing' : ''}}">
                {% for err in getAllErrors(formName) %}
                <li class="s2act-message s2act-message--error">{{ err }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--order-0-phone">
            {{ inputSelect("Company", "company", companies, createUserForm.company, optionsAsMap=true) }}
            {{ inputText("FirstName *", "firstName", createUserForm.firstName) }}
            {{ inputText("Lastname *", "lastName", createUserForm.lastName) }}
            {{ inputText("Username", "uid", createUserForm.uid, pattern="\D\D\D\D\D\D\D?\D?", errorMsg="Please enter the uid with six, seven or eight characters") }}
            {{ inputText("Birthdate", "birthDate", createUserForm.birthDate, pattern="\d\d\.\d\d", errorMsg="Please enter the Birthdate in pattern dd.MM") }}
            {{ inputText("E-Mail Prefix", "emailPrefix", createUserForm.emailPrefix, readonly=true, halfWidth=false) }}
            {{ inputText("Telephone", "telephoneNumber", createUserForm.telephoneNumber, pattern="\+?[0-9 ()]+") }}
            {{ inputText("Mobile", "mobileNumber", createUserForm.mobileNumber, pattern="\+?[0-9 ()]+", errorMsg="Please define a valid mobile number") }}
            {{ inputText("Last password change", "passwordChange", user.prettyLastPasswordChange, readonly=true) }}
            {{ inputText("Last modified", "modified", user.prettyLastModified, readonly=true) }}
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            {{ inputText("Employee number", "employeeNumber", createUserForm.employeeNumber, errorMsg="Please define a valid mobile number", halfWidth=false) }}
            {{ inputSelect("Team *", "team", departments, createUserForm.team) }}
            {{ inputText("Title *", "title", createUserForm.title, halfWidth=false) }}
            {{ inputSelect("Location *", "location", locations, createUserForm.location) }}
            {{ inputSelect("Type *", "type", types, createUserForm.type) }}
            {{ inputText("Entry date *", "entryDate", createUserForm.entryDate, "[0-9][0-9]\.[0-9][0-9]\.[0-9][0-9][0-9][0-9]", errorMsg="Please enter the entry date in pattern dd.MM.yyyy") }}
            {{ inputText("Exit date *", "exitDate", createUserForm.exitDate, "[0-9][0-9]\.[0-9][0-9]\.[0-9][0-9][0-9][0-9]", errorMsg="Please enter the exit date in pattern dd.MM.yyyy") }}
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div
                class="s2act-textfield s2act-textfield__switch mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{switch('Status', 'status', createUserForm.status)}}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div
                class="s2act-textfield s2act-textfield__switch mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{switch('E-Mail Status', 'mailStatus', createUserForm.mailStatus)}}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="s2act-buttonRow">
                {{ inputButton("Save", "save") }}
                {{ createUserForm.status ? inputButton("Deactivate", "deactivateUser", "mdl-color--red", disabled=true) : inputButton("Activate", "activateUser", "mdl-button--accent", disabled=true) }}
                {{ inputButton("Reset Password", "resetPassword", "mdl-button--accent", disabled=true) }}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <h2 class="s2act-sectionHeadline">
                <span>Groups</span>
            </h2>
            <div class="s2act-groupContainer">
                {% for group in groups %}
                <a href="/group/{{ group.cn }}" class="mdl-chip mdl-chip--contact s2act-groupChip">
				    <span
                        class="mdl-chip__contact mdl-color-text--white s2act-groupChip__contact {{group.groupClassification == 'ADMIN' or group.groupClassification == 'TECHNICAL' ? 's2act-groupChip__contact--admin' : ''}}">
					    <i class="material-icons">{{group.groupClassification == 'ADMIN' ? 'settings' : 'group'}}</i>
				    </span>
                    <span class="mdl-chip__text s2act-groupChip__text">{{group.cn}}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
