{% extends "pages/template/authenticated.html" %}


{% macro inputText(label, fieldName, value, pattern=".*", errorMsg="", halfWidth=true, readonly=false) %}
<div class="s2act-textfield {{ halfWidth ? 's2act-textfield__halfWidth' : '' }} mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="{{ fieldName }}" id="{{ fieldName }}"
           value="{{ value }}" pattern="{{ pattern }}" {{ readonly ? 'readonly' : '' }}>
    <label class="mdl-textfield__label" for="{{ fieldName }}">{{ label }}</label>
    <span class="mdl-textfield__error">{{ errorMsg }}</span>
</div>
{% endmacro %}


{% macro inputSelect(label, fieldName, options, value, optionsAsMap=false) %}
<div class="s2act-selectfield mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
    <select id="{{ fieldName }}" name="{{ fieldName }}" class="mdl-selectfield__select">
        <option value=""></option>
        {% for option in options %}
        <option value="{{ optionsAsMap ? option.key : option }}" {{ isSelected(value, optionsAsMap ? option.key : option) }}>{{ optionsAsMap ? option.value : option }}</option>
        {% endfor %}
    </select>
    <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
    <label class="mdl-selectfield__label" for="{{ fieldName }}">{{ label }}</label>
</div>
{% endmacro %}

{% macro inputButton(label, fieldName, color="mdl-button--primary") %}
<input class="s2act-button--right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect {{ color }}"
    type="submit" name="{{ fieldName }}" value="{{ label }}"/>
{% endmacro %}


{% block content %}

<form action="/user/edit/{{user.uid}}" method="post">
    <input type="hidden" name="{{request.getAttribute('_csrf').parameterName}}"
           value="{{request.getAttribute('_csrf').token}}"/>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <h2 class="s2act-sectionHeadline">Edit user {{editUserForm.uid}}</h2>
        </div>
        {% set formName = 'editUserForm' %}
        {% set noSpacing = true %}

        {% if hasErrors(formName) %}
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <ul class="s2act-messages {{noSpacing ? 's2act-messages--nospacing' : ''}}">
                {% for err in getAllErrors(formName) %}
                <li class="s2act-message s2act-message--error">{{ err }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--order-0-phone">

            {{ inputSelect("Company", "company", companies, editUserForm.company, optionsAsMap=true) }}
            {{ inputText("FirstName *", "firstName", editUserForm.firstName, readonly=true) }}
            {{ inputText("Lastname *", "lastName", editUserForm.lastName, readonly=true) }}
            {{ inputText("Username", "uid", editUserForm.uid, pattern="\D\D\D\D\D\D\D?\D?", errorMsg="Please enter the uid with six, seven or eight characters", readonly=true) }}
            {{ inputText("Birthdate", "birthDate", editUserForm.birthDate, pattern="\d\d\.\d\d", errorMsg="Please enter the Birthdate in pattern dd.MM") }}
            {{ inputText("E-Mail *", "email", editUserForm.email, readonly=true, halfWidth=false, readonly=true) }}
            {{ inputText("Telephone", "telephoneNumber", editUserForm.telephoneNumber, pattern="\+?[0-9 ()]+") }}
            {{ inputText("Mobile", "mobileNumber", editUserForm.mobileNumber, pattern="\+?[0-9 ()]+", errorMsg="Please define a valid mobile number") }}
            {{ inputText("Last password change", "passwordChange", user.prettyLastPasswordChange, readonly=true) }}
            {{ inputText("Last modified", "modified", user.prettyModifytimestamp + " by " + user.prettyModifiersName, readonly=true) }}

        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">

            {{ inputText("Employee number", "employeeNumber", editUserForm.employeeNumber, errorMsg="Please define a valid mobile number", halfWidth=false, readonly=true) }}
            {{ inputSelect("Team *", "team", departments, editUserForm.team) }}
            {{ inputText("Title *", "title", editUserForm.title, halfWidth=false) }}
            {{ inputSelect("Location *", "location", locations, editUserForm.location) }}
            {{ inputSelect("Type *", "type", types, editUserForm.type) }}
            {{ inputText("Entry date *", "entryDate", editUserForm.entryDate, "[0-9][0-9]\.[0-9][0-9]\.[0-9][0-9][0-9][0-9]", errorMsg="Please enter the entry date in pattern dd.MM.yyyy") }}
            {{ inputText("Exit date *", "exitDate", editUserForm.exitDate, "[0-9][0-9]\.[0-9][0-9]\.[0-9][0-9][0-9][0-9]", errorMsg="Please enter the exit date in pattern dd.MM.yyyy") }}
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div
                class="s2act-textfield s2act-textfield__switch mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{switch('Status', 'status', editUserForm.status)}}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div
                class="s2act-textfield s2act-textfield__switch mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{switch('E-Mail Status', 'mailStatus', editUserForm.mailStatus)}}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="s2act-buttonRow">
                {{ inputButton("Save", "save") }}
                {{ editUserForm.status ? inputButton("Deactivate", "deactivateUser", "mdl-color--red") : inputButton("Activate", "activateUser", "mdl-button--accent") }}
                {{ inputButton("Reset Password", "resetPassword", "mdl-button--accent") }}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <h2 class="s2act-sectionHeadline">
                <span>Groups</span>
            </h2>
            <div class="s2act-groupContainer">
                {% for group in groups %}
                <a href="/group/{{ group.cn }}" class="mdl-chip mdl-chip--contact s2act-groupChip">
				    <span
                        class="mdl-chip__contact mdl-color-text--white s2act-groupChip__contact {{group.adminGroup or group.technicalGroup ? 's2act-groupChip__contact--admin' : ''}}">
					    <i class="material-icons">{{group.adminGroup ? 'settings' : 'group'}}</i>
				    </span>
                    <span class="mdl-chip__text s2act-groupChip__text">{{group.cn}}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
