[Unit]
Description=S2 Account tool

[Service]
Type=simple
Environment="SPRING_PROFILES_ACTIVE=production"
EnvironmentFile=/etc/default/accounttool
ExecStart=/usr/bin/account-tool
ExecStop=/bin/kill $MAINPID
User=accounttool
PrivateTmp=true

[Install]
WantedBy=multi-user.target
